.header {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(50, 167, 145);
}
main {
  display: flex;
}
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
#trybewarts-forms-logo {
  height: 500px;
};