* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.direction-row {
  display: flex;
  flex-direction: row;
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  justify-content: space-between;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
}

main {
  justify-content: space-between;
}

#evaluation-form {
  width: 675px;
  justify-content: space-around;
  align-items: center;
}

#container-forms {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#textarea {
  resize: none;
}

#container-informacoes {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
