main {
  display: flex;
}

form {
  display: flex;
}

body {
  margin: 0;
}

main form {
  flex-direction: column;
  width: 675px;
}

hr {
  width: 50%;
}

ul {
  flex-direction: column;
  list-style: none;
  width: 675px;
}


.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

.trybewarts-header-logo {
  width: 50px;
  flex-direction: row-reverse;
}

.trybewarts-login {
  display: flex;
}

.container-form-1 {
  display: flex;
}

.formEvaluation {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.line-content {
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#fieldset-family {
  display: flex;
  flex-direction: column;
}

#label-family {
  display: none;
  flex-direction: column;
}

#form2-left {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#form2-right {
  display: flex;
  flex-flow: column wrap;
  width: max-content;
}

#form-results {
  display: none;
}

.trybewarts-forms-logo {
  height: 500px;
}

#form1-row1 {
  display: flex;
  flex-direction: row;
}

#form1-row2 {
  display: flex;
  flex-direction: row;
}

#fieldset-learning {
  display: flex;
}

#label-content {
  display: none;
}

.footer-style {
  background-color: rgb(60 64 74);
  padding: 5px;
  color: white;
  text-align: center;
}

.comentario {
  position: relative;
  display: flex;
  flex-direction: column;
}
